ws_sendmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempurl.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempurl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempurl.org">
      <s:element name="of_sendmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="as_subject" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ab_isbodyhtml" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="as_body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="as_validation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="of_sendmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="of_sendmailResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="of_sendmailSoapIn">
    <wsdl:part name="parameters" element="tns:of_sendmail" />
  </wsdl:message>
  <wsdl:message name="of_sendmailSoapOut">
    <wsdl:part name="parameters" element="tns:of_sendmailResponse" />
  </wsdl:message>
  <wsdl:portType name="sendmailSoap">
    <wsdl:operation name="of_sendmail">
      <wsdl:input message="tns:of_sendmailSoapIn" />
      <wsdl:output message="tns:of_sendmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sendmailSoap" type="tns:sendmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="of_sendmail">
      <soap:operation soapAction="http://tempurl.org/of_sendmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sendmailSoap12" type="tns:sendmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="of_sendmail">
      <soap12:operation soapAction="http://tempurl.org/of_sendmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sendmail">
    <wsdl:port name="sendmailSoap" binding="tns:sendmailSoap">
      <soap:address location="http://192.0.2.230:8081/webservice/sendmail.asmx" />
    </wsdl:port>
    <wsdl:port name="sendmailSoap12" binding="tns:sendmailSoap12">
      <soap12:address location="http://192.0.2.230:8081/webservice/sendmail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>